form {
    padding: 1rem;
    min-width: 400px;
}

.inputGroup {
    width: 100%; 
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.inputField {
    height: 2rem;
    margin-top: 0.25rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0 10px;
    transition: border 0.3s ease;
}

.inputField:focus {
    border: 1px solid #000;
    outline: none;
}