.ticketCard {
    width: 100%;
    border-radius: 20px;
}

.ticketTitle {
    cursor: pointer;
    font-size: 24px;
    transition: all 0.3s ease;
}

.ticketTitle:hover {
    opacity: 0.9;
}

.ticketDescription {
    font-size: 18px;
}

.ticketItemCard {
    margin-bottom: 1rem;
}

.leftBorderRed, .leftBorderGreen {
    padding-left: 1rem;
}

.leftBorderRed {
    border-left: 3px solid red;
}

.leftBorderGreen {
    border-left: 3px solid green;
}

a {
    color: inherit;
    text-decoration: none;
}