<div class="profilePage">
  <app-card>
    <ng-template [ngIf]="!editMode" [ngIfElse]="Edit">
        <div class="profileCardHeader">
          <h3 class="username">{{user.id}}</h3>
          <p class="editButton" (click)="onToggleEdit()">Edit</p>
        </div>
        <div class="profileCardBody">
          <p class="description maxWidth">
            {{user.description}}
          </p>
        </div>
    </ng-template>
    <ng-template #Edit>
        <form class="profileForm">
        <div class="profileCardHeader">
          <input type="text" class="inputField" disabled [(ngModel)]="updatedUser.id" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="profileCardBody">
            <textarea rows="15" type="text" class="maxWidth" (change)="textAreaValueChange($event)">{{updatedUser.description}}</textarea>
          </div>
          <div class="formButtons">
              <app-button btnLabel="Submit" class="formButton" (onButtonClick)="onSubmit()"></app-button>
              <app-button btnLabel="Cancel" class="formButton" (onButtonClick)="onToggleEdit()"></app-button>
          </div>
        </form>
    </ng-template>
  </app-card>
</div>
